.shadow{
    box-shadow: 2px 1px 2px 2px #ccc;
    padding:1rem;
    margin:1rem;
  }
  .active {
    padding: 10px;
    color: red;
    font-size: 25px;
    font-weight: 700;
    border: 3px dotted green;
    margin: 10px;
  }



  .mystyle {
    width: 300px;
    height: 50px;
    background-color: green;
    color: white;
    font-size: 25px;
  padding:15px;
}
.whatever{text-decoration:underline}
.newClassName {
    width: 400px;
    height: 100px;
    background-color: lightblue;
    text-align: center;
    font-size: 25px;
    color: navy;
    margin-bottom: 10px;
}

#change_me{
    display:block;
    width: 100px;
    height: 100px;
    background-color: red;
    margin: auto;
  }
  .make_me_blue{
    background-color: blue !important;
  }
  .glass {
    background-color: yellowgreen !important;
  }
  .mydiv {
    background-color: aquamarine !important;

  }
  .one {
    background-color: blue !important;
  }
  .two {
    background-color: tomato !important;
  }
  .sidemenu {
    transition: 0.5s;
    width: 300px;
  }
.hhhhhh {
    display: block !important;
}
.sidemenu.hidesidebar.show {
    width: 300px !important;
    transition: 0.5s;
    visibility: visible !important;
}
.sidemenu.show {
    width: 0 !important;
    transition: 0.5s;
    visibility: hidden !important;
}

.list-container {
    display: flex;
  }
  
  .list-item {
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }
  
  .side-menu {
    display: none;
    padding: 10px;
    margin-top: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
  }
  .hello {
    animation: bounce 0.55s  infinite  ;
  }

  @keyframes bounce {
    0%   {background-color:red; }
    25%  {background-color:yellow;  }
    50%  {background-color:blue;  }
    75%  {background-color:green; }
    100% {background-color:red; }
    
  }